@import './colors.scss';

.Carousel {
  position: relative;
  height: clamp(300px, 80dvw, 486px);
  width: clamp(375px, 100%, 50rem);
  margin: 0 auto;
  overflow: hidden;

  .buttons {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
    transform: translateY(-50%);

    span {
      display: grid;
      place-items: center;
      width: 2.3rem;
      aspect-ratio: 1;
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;

      svg {
        scale: 0.7;
        stroke: $black;
      }

      &:hover svg {
        stroke: $orange;
      }
    }
  }

  ul {
    display: flex;
    width: fit-content;
    height: 100%;
    list-style: none;
    transition: transform 0.3s ease-out;

    li {
      position: relative;
      width: 100dvw;
      max-width: 50rem;
      min-width: 375px;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
