@import './colors.scss';

.Header {
  position: sticky;
  z-index: 98;
  top: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 1.4rem;
  border-bottom: 1px solid $gray;
  background-color: $white;

  .menu-items {
    display: none;
    margin-left: 2rem;
    gap: clamp(1rem, 3dvw, 2rem);
    list-style: none;
    text-transform: capitalize;
    color: $dark-gray;

    li {
      position: relative;
      cursor: pointer;

      &:hover {
        color: $black;

        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: calc(-3rem + 2px);
        left: 0;
        width: 0;
        height: 4px;
        background-color: $orange;
        transition: width 0.3s ease;
      }
    }
  }

  img.avatar {
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      outline: 2px solid $orange;
    }
  }

  .cart-btn {
    position: relative;
    margin-left: auto;
    margin-right: clamp(0.5rem, 2dvw, 2rem);

    .cart {
      scale: 1.1;
      vertical-align: middle;
    }

    &::after {
      content: attr(aria-valuenow);
      position: absolute;
      top: -3px;
      right: -5px;
      padding: 0.05rem 0.4rem;
      border-radius: 100px;
      font-size: 0.6rem;
      background-color: $orange;
      color: $white;
    }

    &[aria-valuenow='0']::after {
      display: none;
    }
  }

  .cart,
  .menu {
    fill: $dark-gray;
    cursor: pointer;

    &:hover {
      fill: $black;
    }
  }
}

.mask {
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background-color: $light-box-background;
  transition: opacity 0.3s, visibility 0.3s;

  &[aria-hidden='false'] {
    opacity: 1;
    visibility: visible;
  }
}

.menu-drawer {
  position: fixed;
  inset: 0;
  width: 70%;
  max-width: 20rem;
  padding: 1.5rem;
  z-index: 100;
  background-color: $white;
  transform: translateX(-100%);
  overflow-y: auto;
  scrollbar-width: none;
  transition: transform 0.3s;

  &::-webkit-scrollbar {
    display: none;
  }

  &[aria-hidden='false'] {
    transform: translateX(0);
  }

  .close {
    fill: $dark-gray;
    cursor: pointer;

    &:hover {
      fill: $orange;
    }
  }

  .menu-items {
    margin-top: 3rem;
    list-style: none;

    li {
      margin-bottom: 1.6rem;
      text-transform: capitalize;
      font-weight: bold;
      color: $black;
    }
  }
}

.Basket {
  position: fixed;
  z-index: 98;
  top: 4.9rem;
  right: 7px;
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 252px;
  border-radius: 8px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transform-origin: 80% 0;
  scale: 0.5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-out;

  &[aria-expanded='true'] {
    scale: 1;
    visibility: visible;
    opacity: 1;
  }

  .header {
    padding: 1.4rem;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    color: $black;
  }

  .content {
    flex: 1;
    position: relative;
    padding: 0 1.4rem;

    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.4rem;
        color: $dark-gray;

        img {
          width: 3rem;
          height: 3rem;
          border-radius: 6px;
        }

        .info {
          flex: 1;
        }

        h4 {
          font-weight: normal;

          &.title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &.price {
            margin-top: 0.4rem;

            strong {
              margin-left: 0.6rem;
              color: $black;
            }
          }
        }

        .remove {
          fill: $gray;
          cursor: pointer;

          &:hover {
            fill: $black;
          }
        }
      }
    }

    .checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      height: 3.3rem;
      margin-top: 2rem;
      border-radius: 8px;
      font-weight: bold;
      background-color: $orange;
      box-shadow: 0 10px 10px rgb(255, 125, 26, 0.1);
      color: $white;
      transition: background-color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $light-orange;
      }
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: bold;
      color: $black;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (min-width: 768px) {
  .Header {
    height: 7rem;

    .menu {
      display: none;
    }

    .menu-items {
      display: flex;
    }

    img.avatar {
      height: 3rem;
    }
  }

  .mask,
  .menu-drawer {
    display: none;
  }

  .Basket {
    top: 5.5rem;
  }
}

@media screen and (min-width: 1268px) {
  .Basket {
    right: unset;
    left: calc(var(--left) - 20rem);
  }
}
