@import './colors.scss';

.Header {
  position: fixed;
  z-index: 98;
  top: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100dvw;
  padding: 1.4rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  background-color: $white;

  img.avatar {
    height: 1.5rem;
  }

  .cart-btn {
    position: relative;
    margin-left: auto;
    margin-right: 0.5rem;

    .cart {
      scale: 1.1;
      vertical-align: middle;
    }

    &::after {
      content: attr(aria-valuenow);
      position: absolute;
      top: -3px;
      right: -5px;
      padding: 0.05rem 0.4rem;
      border-radius: 100px;
      font-size: 0.6rem;
      background-color: $orange;
      color: $white;
    }
    // &[aria-valuenow='0']::after {
    //   display: none;
    // }
  }

  .cart,
  .menu {
    fill: $dark-gray;
    cursor: pointer;

    &:hover {
      fill: $black;
    }
  }
}

.mask {
  position: fixed;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background-color: $light-box-background;
  transition: opacity 0.3s, visibility 0.3s;

  &[aria-hidden='false'] {
    opacity: 1;
    visibility: visible;
  }
}

.menu-drawer {
  position: fixed;
  inset: 0;
  width: 70%;
  max-width: 20rem;
  padding: 1.5rem;
  z-index: 100;
  background-color: $white;
  transform: translateX(-100%);
  overflow-y: auto;
  scrollbar-width: none;
  transition: transform 0.3s;

  &::-webkit-scrollbar {
    display: none;
  }

  &[aria-hidden='false'] {
    transform: translateX(0);
  }

  .close {
    fill: $dark-gray;
    cursor: pointer;

    &:hover {
      fill: $orange;
    }
  }

  ul {
    margin-top: 3rem;
    list-style: none;

    li {
      margin-bottom: 1.6rem;
      text-transform: capitalize;
      font-weight: bold;
      color: $black;
    }
  }
}
